/* Grid */
/* Colors */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  70% {
    opacity: 0.8;
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  70% {
    opacity: 0.8;
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(7rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.heading-primary--main {
  font-size: 6rem;
  letter-spacing: 3.5rem;
  font-weight: 400;
  animation: moveInRight 1s ease-out; }

.heading-primary--sub {
  font-size: 2.1rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
  animation: moveInLeft 1s ease-out; }

.heading-secondary {
  display: inline-block;
  background: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: scale(1.1) skew(10deg, 3deg);
    text-shadow: 0 2rem 1.5rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  color: #777;
  font-weight: 700;
  margin-bottom: 1.5rem; }

.paragraph {
  font-size: 1.5rem;
  color: #777;
  font-weight: 400;
  margin-bottom: 3.5rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 6rem; }

.u-margin-bottom-small {
  margin-bottom: 4rem; }

.u-center-text {
  text-align: center; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.7;
  padding: 3rem;
  box-sizing: border-box; }

.btn {
  text-decoration: none;
  border: none;
  font-size: 1.5rem;
  padding: 2rem 4rem;
  border-radius: 5rem;
  font-weight: 700;
  display: inline-block;
  position: relative;
  transition: all .3s;
  z-index: 3; }
  .btn--animated {
    animation: moveInTop .75s ease-out;
    animation-delay: 1s;
    animation-fill-mode: backwards; }
  .btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    padding: 2rem 4rem;
    z-index: -1;
    border-radius: 5rem;
    display: inline-block;
    border: none;
    transition: all .4s; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }
    .btn:hover::after {
      transform: scale(1.4);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.15); }

.btn--secondary {
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  padding: .5rem .2rem;
  border-bottom: 1px solid #28b485;
  transition: all .3s; }
  .btn--secondary:hover {
    background: #55c57a;
    color: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
    border: none;
    transform: translateY(-3px); }
  .btn--secondary:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(-1px); }

.btn--white {
  background: #fff;
  color: #777; }

.btn--green {
  color: #55c57a; }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    max-width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.35);
    transition: all .3s;
    outline-offset: 2rem; }
    .composition__photo:hover {
      z-index: 4;
      transform: scale(1.1);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.35);
      outline: 1.5rem solid #55c57a; }
  .composition__photo--p1 {
    top: 0;
    left: 0;
    z-index: 1; }
  .composition__photo--p2 {
    top: 3rem;
    right: 0;
    z-index: 2; }
  .composition__photo--p3 {
    top: 10rem;
    left: 20%;
    z-index: 3; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^='col-'] {
    float: left;
    display: block; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row:after {
    content: '';
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 1 * 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 95%);
  position: relative; }
  .header__logo {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__img {
    height: 35px; }
  .header__text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    margin-top: -9rem; }
    .header__text .primary-heading {
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out; }
    .header__text .secondary-heading {
      animation: moveInLeft 1s ease-out; }

.section-about {
  background-color: #F7F7F7;
  padding: 25rem 0;
  margin-top: -25vh;
  width: 100%;
  height: 100%; }
