/* Grid */
$grid-width : 114rem;
$row-gutter : 8rem;
$column-gutter : 6rem;
$row-gutter-small : 6rem;

/* Colors */
$color-primary : #55c57a;
$color-primary-light : #7ed56f;
$color-primary-dark : #28b485;
$color-grey-light-1 : #F7F7F7;
$color-footer : #333333;

$color-grey-dark : #777;
$color-white : #fff;
$color-black : #000;

/* Card */
$color-card-1-light : #ffb900;
$color-card-1-dark: #ff7730;

$color-card-3-light : #2998ff;
$color-card-3-dark : #5643fa;

// FONT
$default-font-size: 1.6rem;